@{
    ViewBag.Title = "Index";
    Layout = "~/Views/EmployeePortal/_Layout.cshtml";
}
<div id="example" ng-app="app">
    <div>
        <div ng-include="'/EmployeePortal/Shell'"></div>
    </div>
</div>
