<div class="jumbotron">
    <h1>Granite World</h1>
    <p class="lead">Filling all your natural stone needs</p>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Customer Portal</h2>
        <p><a class="btn btn-info" href="/app/custapp/views/index.html">I'm a Customer</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employee Portal</h2>
        <p><a class="btn btn-info" href="/EmployeePortal/Index">I'm an Employee</a></p>
    </div>
    <div class="col-md-2"></div>
</div>
